.homeContainer {
  display: flex;
  width: 100%;

  .homeCategoryPanel {
    flex: 2;
  }
  .homeProductPanel {
    flex: 9;
    display: flex;
    // align-items: center;
    justify-content: center;
    .homeProductList {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-content: start;
      width: 70%;
      .homeProductCard {
        cursor: pointer;
        width: fit-content;
        margin: 16px;
      }
    }
  }
}
