.categoryPanelContainer {
  height: fit-content;
  padding: 12px 0;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 16px 12px;
  .categoryPanelTitle {
    margin: 12px 0px;
    text-align: center;
    font-size: 30px;
  }
  .categoryPanelList {
    padding: 0;
    .categoryPanelItem {
      list-style-type: none;
      padding: 8px 12px;
      cursor: pointer;
      margin: 4px 8px;
      text-align: center;
      font-size: 20px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.457);
        border-radius: 12px;
        color: white;
      }
    }
    .selectedCategory {
      background-color: black;
      border-radius: 12px;
      color: white;
    }
  }
}
